[submodule "featuresextractor"]
	path = featuresextractor
	url = https://github.com/ahmadelsallab/featuresextractor.git
    branch = master
[submodule "languagemodel"]
	path = languagemodel
	url = https://github.com/ahmadelsallab/languagemodel.git
    branch = master
[submodule "datasetbuilder"]
	path = datasetbuilder
	url = https://github.com/ahmadelsallab/datasetbuilder.git
    branch = master
[submodule "classifiers"]
	path = classifiers
	url = https://github.com/ahmadelsallab/Classifiers.git
    branch = master
[submodule "twittercrawler"]
	path = twittercrawler
	url = https://github.com/ahmadelsallab/twittercrawler.git
    branch = master
[submodule "sentimentwebsite"]
	path = sentimentwebsite
	url = https://github.com/ahmadelsallab/sentimentwebsite.git
    branch = master
